/* components/EventCard.css */
/* 
.event-card-container {
  border: 1px solid #ccc;
  padding: 20px;
  background: linear-gradient(
    45deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(69, 136, 215, 1) 100%
  );
  margin-bottom: 20px;
  text-align: center;
  border-radius: 22px;
  box-shadow: 0px 9px 9px rgb(2, 6, 0);
  height: 390px;
  width: 230px;
  position: relative; 

  
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}


.event-card:hover {
  transform: scale(1.05); 
}

.event-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.event-card hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
} */

/* */

.event-card-image {
  text-align: center;
  position: relative  ;
  top: 0;
  
}
.event-card{
  height: auto;
  position: relative;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 5px 0;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.18);
}
.register-block{
  background:transparent linear-gradient(106deg, #146E28 0%, #64936F 100%) 0% 0% no-repeat padding-box;
  padding : 12px ;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 20px ;
}

.event-card-image img{
  transition: transrom 0.5s ;
  width: 100%;
  height: 160px;
  border-top-right-radius: 20px;
}
img{
  vertical-align: middle;
  border: 0;
}
.event-card-content{
  width: 100%;

  
}