/* components/SearchBar.css */
/* styles/SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #555;
    cursor: pointer;
  }
  
  .search-icon:hover {
    color: #333;
  }
  
  