/* App.css file  */
.App {
  text-align: center;

}

.app{
  text-align: center;
  padding: 1px;
  font-size: 15px;
}

.body-container{
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

